<!DOCTYPE html>
<html>

<head>
    <title>Twitter Clone</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="main-container pt-3 pr-5 pl-5">
            {{template "header.html" .}}
            <div class="content d-flex flex-row">
                {{template "sidebar.html" .}}
                <div class="col-md-9 border-left pl-0 pr-0">
                    <h2 class="m-3">Bookmark</h2>
                    <div id="bookmarkContainer">
                        <!-- ブックマークされたツイート一覧表示 -->
                        <div class="border-bottom d-flex flex-row m-3" data-tweet-id="{{ .TweetID }}"></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="module" src="/static/js/bookmark.js"></script>
</body>

</html>