<!DOCTYPE html>
<html>

<head>
    <title>Twitter Clone</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="main-container pt-3 pr-5 pl-5">
            {{template "header.html" .}}
            <div class="content d-flex flex-row">
                {{template "sidebar.html" .}}
                <div class="col-md-9 border-left pl-0 pr-0">
                    <h2 class="m-3">Home</h2>
                    <div class="border-bottom d-flex flex-row">
                        <div class="col-1">
                            <img src="{{ .avatarImage }}" width="50" height="50">
                        </div>
                        <div class="col-11">
                            <form id="tweetForm" class="m-3" data-user-id="{{ .userId }}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <textarea id="tweetContent" class="tweetarea form-control" maxlength="140"
                                        placeholder="What is happening?!" style="background-color: #fff;"></textarea>
                                </div>

                                <!-- 画像プレビュー -->
                                <div class="image-preview mt-3 mb-3 d-flex align-items-center justify-content-center">
                                    <img id="selectedImagePreview" src="#" alt="Selected Image">
                                </div>

                                <hr color="#fff" max-width="800">
                                <!-- ファイルアップロード -->
                                {{template "upload.html" .}}
                                <button type="submit"
                                    class="btn btn-primary float-right mb-3 rounded-pill btn-custom">Post</button>
                            </form>
                        </div>
                    </div>

                    <div>
                        <!-- ツイート一覧表示 -->
                        <div class="border-bottom d-flex flex-row m-3" data-tweet-id="{{ .TweetID }}"></div>
                    </div>

                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <button id="prevPage" class="btn btn-secondary m-2">前のページ</button>
                        <span id="currentPage">1</span>
                        <button id="nextPage" class="btn btn-secondary m-2">次のページ</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/tweet.js"></script>
</body>

</html>