<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="verification">
            <h1>サインアップが完了しました！</h1>
            <p>確認メールをあなたのメールアドレスに送信しました。受信トレイを確認し、登録を完了するために確認リンクをクリックしてください。</p>
            <p>メールが届かなかった場合は、下のボタンをクリックして確認メールを再送信してください。</p>
            <button class="btn btn-primary btn-custom">Resend</button>
        </div>
    </div>
</body>

</html>